TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
SESSION_SECRET=
PORT=3000

# Enable when in prod
#NODE_ENV=production
#REDIRECT_URI=https://<your-domain>/auth/callback

# Disable in prod
REDIRECT_URI=http://localhost:3000/auth/callback